body
{
  background-color: cornsilk;
  background-size: cover;
}

.dropdown{
  padding: 20px;
}

.dropdown p{
  padding-top: 20px;
}

.dropdown button{
  width:100%;
}
.card{
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2)
}

.card h2{
  color:#3A4613;
}

.jumbotron{
  font-family: fantasy;
  border: 1px solid  grey;
  background-image: url( ../img/woodplank.jpeg);
  background-size: contain;
}


.jumbotron h1{
  text-align: center;
}

@media (min-width: 768px) {
  .row.equal {
    display: flex;
    flex-wrap: wrap;
  }
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

main{
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;

}
